{% extends 'base.html' %}

{% block content %}
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
    <p>&nbsp;</p>
    <h1>Yosheluxe</h1>
    <p>&nbsp;</p>
    <p>Elegance and Perfections Bags, Elevating Your Everyday.</p>
    <p> In the heart of creativity and passion, Yosheluxe was born. </p>
    <p>A luxurious brand that epitomizes elegance and perfection,</p>
    <p>we started as a dream to redefine everyday style with a touch of opulence. </p>
    <p>Every Yosheluxe creation tells a story of dedication to quality. </p>
    <p>We source only the finest materials from around the world, ensuring that each piece is a work of art in itself. </p>
    <p>From the softest leathers to the most delicate embellishments, we spare no effort in crafting bags that stand the test of time.
    </p>

    <style>
        body {
            background-color: #D9B96E;
        }
    </style>
</body>
</html>
{% endblock %}
