{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #abd3cc;
    }
</style>

<h1 style="color: #00a99d; font-size: 34px;">Selamat Datang di Yoshelin Inventory</h1>
<p>By: Yoshelin | PBP B | 2206826702 <p>

<hr style="border: 1px solid #00a99d ">

<p>     </p>  
<h5> Nama:  </h5>
<p>{{ name }}</p>


<h5> Kelas: </h5>
<p>{{ class }}</p>


<h5> Produk: </h5>
<p>{{ item }}</p>

<p>Kamu telah menyimpan {{ items|length }} item pada aplikasi ini.</p>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 3px solid #00a99d;
        text-align: left;
        padding: 10px;
    }

    th {
        background-color: #00a99d;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_added }}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Item
    </button>
</a>

<style>
    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
</style>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}

