{% extends 'base.html' %}

{% block content %}

<h1>Selamat Datang di Yoshelin Inventory</h1>
<p>By: Yoshelin | PBP B | 2206826702 <p>

<p>     </p>  
<h5> Nama:  </h5>
<p>{{ name }}</p>

<h5> Kelas: </h5>
<p>{{ class }}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for Item in Items %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

<style>
    /* Mengubah ukuran font h5 menjadi 18px */
    h5 {
        font-size: 18px;
    }

    /* Mengubah ukuran font pada paragraf (p) menjadi 14px */
    p {
        font-size: 16px;
    }
</style>

{% endblock content %}