{% extends 'base.html' %}

{% block content %}
<style>
    .flex {
        display: flex;
        flex-wrap: wrap; /* Change flex-wrap to 'wrap' to create a vertical grid layout */
        justify-content: flex-start;
    }

    .card-item {
        width: calc(25% - 10px);
        margin: 10px;
        border-radius: 10px;
        background-color: #D2B48C;
        padding: 10px;
    }


    .card {
        width: 100%;
        background-color: #D2B48C;
    }

    .header {
        background-color: #D9B96E;
    }

    h1 {
        margin-top: 30px;
    }

    .name {
        font-size: 36px;
        text-align: center;
        margin-top: 10px;
    }

    .class {
        font-size: 16px;
        text-align: center;
    }

    .total {
        font-size: 16px;
        text-align: center;
    }

    .sesion {
        margin-top: 10px;
        font-size: 16px;
        margin-left: 0;
    }

    .btn-primary {
        background-color: #f2e6de;
        color: #000;
        border: 1px solid #000;
        margin-left: 0;
    }

    .btn-danger {
        background-color: #f2e6de;
        color: #000;
        border: 1px solid #000;
    }

    .btn-primary:hover {
        background-color: #efefef;
    }

    .footer {
        padding-top: 40px;
        margin-top: 30px;
        background-color: #D9B96E;
        color: #000;
        width: 100%;
        position: absolute;
    }

    .delete_item,
    .increment,
    .decrement {
        background-color: #ae875f;
        color: #fff;
        border: #ffffff;
    }

    .card-title,
    .card-text {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
    }
</style>

<div class="container">
    <h2 class="name"> Welcome to Yosheluxe </h2>

    {% with total_items=items|length%}
        <h5 class="total">Kamu menyimpan {{ total_items }} item pada Yosheluxe </h5>
        <br>
    {% endwith %}

    <div class="flex" id="item-container"></div>

    <br/>

    <button
        type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Item by Ajax
    </button>

    <a href="{% url 'main:logout' %}">
        <button class="btn btn-primary">
            Logout
        </button>
    </a>

    <h4 class="sesion">Sesi terakhir login: {{ last_login }}</h4>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" id="button_add">Add Item</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        const cardContainer = document.getElementById("item-container");
        cardContainer.innerHTML = "";

        const items = await getItems();

        items.forEach((item) => {
            cardContainer.innerHTML += `
            <div class="card-item">
                <div class="card mx-auto p-3" style="width: 18rem;">
                    <div class="card-body">s
                        <h4 class="card-title">${item.fields.name}</h4>
                        <p class="card-text">Amount: ${item.fields.amount} </p>
                        <p class="card-text">${item.fields.description}</p>
                        <button style="justify-content: baseline;" class="btn delete_item" onclick="deleteItem(${item.pk})">Delete</button>
                        <button class="btn increment btn-sm rounded-full" onclick="incrementAmount({{ item.pk }})">Add</button>
                        <button class="btn decrement btn-sm rounded-full" onclick="decrementAmount({{ item.pk }})">Substract</button>
                    </div>
                </div>
            </div>`; 
        });
        document.getElementById("item-container").innerHTML = cardContainer.innerHTML;
    }

    refreshItems()

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addItem

    function deleteItem(itemId) {
        fetch(`{% url 'main:delete_item' 0 %}`.replace("0", itemId), {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    // function incrementAJAX(pk) {
    //     fetch(`increment-ajax/${pk}/`, {
    //         method: "POST",
    //     }).then(refreshItems)

    //     return false
    // }

    function incrementAmount(id) {
        fetch("/increment-item-ajax/" + id + "/", {
            method: "POST"
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    function decrementAmount(id) {
        fetch("/decrement-item-ajax/" + id + "/", {
            method: "POST"
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }
    
</script>
{% endblock content %}
